# Import packages

In [66]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
import warnings
warnings.filterwarnings('ignore')

# Import data

In [137]:
life_all = pd.read_csv('life_all.csv')
# 2020년, 2021년의 단위 맞춰주기
life_all[['2020년','2021년']] = round(life_all[['2020년','2021년']]/365, 1)
life_all=life_all.set_index('구분1')
life_all

,1996 년,1997 년,1998 년,1999 년,2000 년,2001 년,2002 년,2003 년,2004 년,2005 년,...,2012 년,2013 년,2014 년,2015 년,2016 년,2017 년,2018 년,2019 년,2020년,2021년
구분1,,,,,,,,,,,,,,,,,,,,,
강원,59.0,37.9,40.9,63.0,66.0,91.5,122.1,102.0,123.1,126.0,...,169.7,153.5,204.10,161.7,137.3,162.7,196.3,264.7,286.3,313.9
경기,579.0,638.3,636.8,594.0,565.6,573.9,710.3,757.8,745.7,736.7,...,816.8,803.8,842.90,847.3,1017.4,1129.9,1301.5,1572.0,1847.6,2161.9
경남,173.0,116.5,154.1,168.7,179.1,229.7,261.2,263.0,279.5,301.8,...,374.4,310.2,360.90,307.6,336.4,331.2,335.0,409.1,440.6,496.1
경북,59.0,72.7,84.4,112.5,114.3,103.9,111.9,149.8,194.6,208.7,...,181.1,206.9,185.60,216.1,280.5,271.0,318.6,320.6,400.3,402.9
광주,42.0,49.5,52.4,58.2,63.6,52.4,129.8,115.8,134.3,134.0,...,124.1,133.4,128.90,141.6,138.5,119.8,135.3,129.6,141.3,202.4
대구,126.0,131.3,197.3,244.5,261.4,247.9,233.1,204.5,155.5,130.8,...,236.8,223.1,188.36,240.6,282.7,285.7,301.1,349.7,363.8,297.6
대전,152.4,156.5,126.7,136.3,114.9,120.1,156.9,161.1,184.0,206.7,...,157.8,173.6,143.00,126.0,121.5,144.4,164.5,202.3,232.5,206.0
부산,260.0,249.0,242.5,290.3,260.9,315.1,294.5,302.8,238.4,216.5,...,325.7,329.7,319.90,328.8,287.9,389.5,340.3,508.3,791.5,534.4
서울,618.0,599.4,506.6,589.2,652.2,722.2,649.0,595.0,672.4,651.3,...,445.5,441.2,515.60,555.3,624.7,797.2,741.7,1111.1,1627.0,1530.4
세종,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.2,6.2,11.90,14.3,17.3,23.3,37.9,33.2,45.3,63.6
울산,0.0,61.8,52.2,66.9,74.3,129.8,150.7,108.1,87.2,94.9,...,80.5,84.7,76.90,75.6,96.9,96.4,100.4,128.8,163.5,124.6
인천,100.0,100.7,152.9,145.3,201.9,205.1,216.8,232.8,237.4,166.6,...,95.8,61.5,49.20,63.1,129.8,139.3,177.5,254.6,317.1,404.7
전남,79.0,76.4,85.8,75.0,73.3,99.6,122.0,136.5,153.5,133.6,...,150.1,183.6,187.50,205.1,223.1,189.9,201.1,231.8,268.4,235.4
전북,63.0,64.7,64.5,96.1,92.5,87.5,86.4,94.9,110.5,102.5,...,157.1,160.6,136.80,156.6,193.4,213.7,252.8,217.4,226.1,236.5
제주,19.9,29.7,14.9,22.0,16.2,22.5,24.4,29.2,25.4,19.0,...,65.1,26.4,41.10,51.4,58.6,62.7,47.4,81.6,127.2,132.2
충남,64.0,79.7,77.0,70.9,77.7,77.9,79.4,101.3,97.7,159.5,...,173.9,160.8,203.90,200.1,232.1,230.2,286.4,246.9,304.0,349.8
충북,48.9,53.8,73.0,53.8,55.1,48.5,48.2,57.1,65.0,96.7,...,114.2,118.1,127.10,185.0,163.2,173.1,176.3,243.6,268.1,280.8

### 서울 지역 예측

In [139]:
seoul_series = life_all.loc['서울']
seoul = pd.DataFrame(seoul_series)
seoul

            서울
1996 년   618.0
1997 년   599.4
1998 년   506.6
1999 년   589.2
2000 년   652.2
2001 년   722.2
2002 년   649.0
2003 년   595.0
2004 년   672.4
2005 년   651.3
2006 년   782.7
2007 년   896.2
2008 년   698.6
2009 년   723.2
2010 년   580.7
2011 년   528.5
2012 년   445.5
2013 년   441.2
2014 년   515.6
2015 년   555.3
2016 년   624.7
2017 년   797.2
2018 년   741.7
2019 년  1111.1
2020년   1627.0
2021년   1530.4

In [99]:
seoul['return']=np.nan
seoul

            서울  return
1996 년   618.0     NaN
1997 년   599.4     NaN
1998 년   506.6     NaN
1999 년   589.2     NaN
2000 년   652.2     NaN
2001 년   722.2     NaN
2002 년   649.0     NaN
2003 년   595.0     NaN
2004 년   672.4     NaN
2005 년   651.3     NaN
2006 년   782.7     NaN
2007 년   896.2     NaN
2008 년   698.6     NaN
2009 년   723.2     NaN
2010 년   580.7     NaN
2011 년   528.5     NaN
2012 년   445.5     NaN
2013 년   441.2     NaN
2014 년   515.6     NaN
2015 년   555.3     NaN
2016 년   624.7     NaN
2017 년   797.2     NaN
2018 년   741.7     NaN
2019 년  1111.1     NaN
2020년   1627.0     NaN
2021년   1530.4     NaN

In [111]:
for i in range(len(seoul)-1):
    if seoul.iloc[i+1]['서울'] / seoul.iloc[i]['서울']-1 >= 0:
        seoul.iloc[i+1,1] = 1
    else:
        seoul.iloc[i+1,1] = 0

seoul

            서울  return
1996 년   618.0     NaN
1997 년   599.4     0.0
1998 년   506.6     0.0
1999 년   589.2     1.0
2000 년   652.2     1.0
2001 년   722.2     1.0
2002 년   649.0     0.0
2003 년   595.0     0.0
2004 년   672.4     1.0
2005 년   651.3     0.0
2006 년   782.7     1.0
2007 년   896.2     1.0
2008 년   698.6     0.0
2009 년   723.2     1.0
2010 년   580.7     0.0
2011 년   528.5     0.0
2012 년   445.5     0.0
2013 년   441.2     0.0
2014 년   515.6     1.0
2015 년   555.3     1.0
2016 년   624.7     1.0
2017 년   797.2     1.0
2018 년   741.7     0.0
2019 년  1111.1     1.0
2020년   1627.0     1.0
2021년   1530.4     0.0

### Split Train, Test Data

* 1996~2016까지의 추이를 바탕으로 = Training Data
* 2016~2021년도의 상승/하락 예측 = Test Data

In [127]:
train_data, train_label = seoul['서울'][1:-6], seoul['return'][1:-6] # 1997~2016
test_data, test_label = seoul['서울'][-6:], seoul['return'][-6:] # 2016~2021

X_train= pd.DataFrame(train_data)
y_train= pd.DataFrame(train_label)
X_test= pd.DataFrame(test_data)
y_test= pd.DataFrame(test_label)

### Basic Random Forest with Different Hyperparameters

In [128]:
training_accuracy = []
test_accuracy = []

n_settings = [1, 2, 5, 10, 20, 50, 100]
for n in n_settings:
    clf = RandomForestClassifier(n_estimators=n, random_state=42)
    clf.fit(X_train, y_train)
    
    y_train_hat = clf.predict(X_train)
    training_accuracy.append(accuracy_score(y_train, y_train_hat))
    
    y_test_hat = clf.predict(X_test)
    test_accuracy.append(accuracy_score(y_test, y_test_hat))
    
print('training accuracy: ', training_accuracy)
print('-'*70)
print('test accuracy: ', test_accuracy)
print('-'*70)
print('best model index: ', test_accuracy.index(max(test_accuracy)))

training accuracy:  [0.631578947368421, 0.7894736842105263, 0.9473684210526315, 0.9473684210526315, 1.0, 1.0, 1.0]
----------------------------------------------------------------------
test accuracy:  [0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5]
----------------------------------------------------------------------
best model index:  0

### GridSearchCV

In [129]:
from sklearn.model_selection import cross_val_score, GridSearchCV

forest_parameters = [{"n_estimators" : [2,4,6,8,10],

                      "criterion" : ["gini","entropy"],

                      "min_samples_leaf":[2,4,6,8,10],

                      "random_state":[1]}]
                      
                      
forest_grid = GridSearchCV(estimator = RandomForestClassifier(), param_grid = forest_parameters, scoring ="accuracy", cv=10, n_jobs=1)
forest_grid_result =forest_grid.fit(X_train, y_train)
best_forest_parameters = forest_grid_result.best_params_
forest_score = forest_grid_result.best_score_

print(forest_grid_result.best_params_)

{'criterion': 'gini', 'min_samples_leaf': 6, 'n_estimators': 8, 'random_state': 1}

In [130]:
Forest_model = RandomForestClassifier(n_estimators =best_forest_parameters["n_estimators"],

                                     criterion = best_forest_parameters["criterion"],

                                     min_samples_leaf =best_forest_parameters["min_samples_leaf"],

                                     random_state =1).fit(X_train, y_train)

y_pred_best = Forest_model.predict(X_test)
print("accuracy: {}".format(metrics.accuracy_score(y_pred_best, y_test)))

accuracy: 0.6666666666666666

* 서울 지역에 한정해 테스트한 결과 일반 random forest보다 GridSearchCV를 사용하는 편이 정확도가 높음
* 모든 지역 데이터에 대해 GridSearchCV를 적용해 예측 실시

### 모든 지역 데이터 만들기

In [150]:
life_all

,1996 년,1997 년,1998 년,1999 년,2000 년,2001 년,2002 년,2003 년,2004 년,2005 년,...,2012 년,2013 년,2014 년,2015 년,2016 년,2017 년,2018 년,2019 년,2020년,2021년
구분1,,,,,,,,,,,,,,,,,,,,,
강원,59.0,37.9,40.9,63.0,66.0,91.5,122.1,102.0,123.1,126.0,...,169.7,153.5,204.10,161.7,137.3,162.7,196.3,264.7,286.3,313.9
경기,579.0,638.3,636.8,594.0,565.6,573.9,710.3,757.8,745.7,736.7,...,816.8,803.8,842.90,847.3,1017.4,1129.9,1301.5,1572.0,1847.6,2161.9
경남,173.0,116.5,154.1,168.7,179.1,229.7,261.2,263.0,279.5,301.8,...,374.4,310.2,360.90,307.6,336.4,331.2,335.0,409.1,440.6,496.1
경북,59.0,72.7,84.4,112.5,114.3,103.9,111.9,149.8,194.6,208.7,...,181.1,206.9,185.60,216.1,280.5,271.0,318.6,320.6,400.3,402.9
광주,42.0,49.5,52.4,58.2,63.6,52.4,129.8,115.8,134.3,134.0,...,124.1,133.4,128.90,141.6,138.5,119.8,135.3,129.6,141.3,202.4
대구,126.0,131.3,197.3,244.5,261.4,247.9,233.1,204.5,155.5,130.8,...,236.8,223.1,188.36,240.6,282.7,285.7,301.1,349.7,363.8,297.6
대전,152.4,156.5,126.7,136.3,114.9,120.1,156.9,161.1,184.0,206.7,...,157.8,173.6,143.00,126.0,121.5,144.4,164.5,202.3,232.5,206.0
부산,260.0,249.0,242.5,290.3,260.9,315.1,294.5,302.8,238.4,216.5,...,325.7,329.7,319.90,328.8,287.9,389.5,340.3,508.3,791.5,534.4
서울,618.0,599.4,506.6,589.2,652.2,722.2,649.0,595.0,672.4,651.3,...,445.5,441.2,515.60,555.3,624.7,797.2,741.7,1111.1,1627.0,1530.4
세종,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.2,6.2,11.90,14.3,17.3,23.3,37.9,33.2,45.3,63.6
울산,0.0,61.8,52.2,66.9,74.3,129.8,150.7,108.1,87.2,94.9,...,80.5,84.7,76.90,75.6,96.9,96.4,100.4,128.8,163.5,124.6
인천,100.0,100.7,152.9,145.3,201.9,205.1,216.8,232.8,237.4,166.6,...,95.8,61.5,49.20,63.1,129.8,139.3,177.5,254.6,317.1,404.7
전남,79.0,76.4,85.8,75.0,73.3,99.6,122.0,136.5,153.5,133.6,...,150.1,183.6,187.50,205.1,223.1,189.9,201.1,231.8,268.4,235.4
전북,63.0,64.7,64.5,96.1,92.5,87.5,86.4,94.9,110.5,102.5,...,157.1,160.6,136.80,156.6,193.4,213.7,252.8,217.4,226.1,236.5
제주,19.9,29.7,14.9,22.0,16.2,22.5,24.4,29.2,25.4,19.0,...,65.1,26.4,41.10,51.4,58.6,62.7,47.4,81.6,127.2,132.2
충남,64.0,79.7,77.0,70.9,77.7,77.9,79.4,101.3,97.7,159.5,...,173.9,160.8,203.90,200.1,232.1,230.2,286.4,246.9,304.0,349.8
충북,48.9,53.8,73.0,53.8,55.1,48.5,48.2,57.1,65.0,96.7,...,114.2,118.1,127.10,185.0,163.2,173.1,176.3,243.6,268.1,280.8

In [148]:
gangwon_series = life_all.loc['강원']
gangwon = pd.DataFrame(gangwon_series)

gyeonggi_series = life_all.loc['경기']
gyeonggi = pd.DataFrame(gyeonggi_series)

gyeongnam_series = life_all.loc['경남']
gyeongnam = pd.DataFrame(gyeongnam_series)

gyeongbuk_series = life_all.loc['경북']
gyeongbuk = pd.DataFrame(gyeongbuk_series)

gwangju_series = life_all.loc['광주']
gwangju = pd.DataFrame(gwangju_series)

daegu_series = life_all.loc['대구']
daegu = pd.DataFrame(daegu_series)

daejeon_series = life_all.loc['대전']
daejeon = pd.DataFrame(daejeon_series)

busan_series = life_all.loc['부산']
busan = pd.DataFrame(busan_series)

seoul_series = life_all.loc['서울']
seoul = pd.DataFrame(seoul_series)

sejong_series = life_all.loc['세종']
sejong = pd.DataFrame(sejong_series)

woolsan_series = life_all.loc['울산']
woolsan = pd.DataFrame(woolsan_series)

incheon_series = life_all.loc['인천']
incheon = pd.DataFrame(incheon_series)

jeonnam_series = life_all.loc['전남']
jeonnam = pd.DataFrame(jeonnam_series)

jeonbuk_series = life_all.loc['전북']
jeonbuk = pd.DataFrame(jeonbuk_series)

jeju_series = life_all.loc['제주']
jeju = pd.DataFrame(jeju_series)

chungnam_series = life_all.loc['충남']
chungnam = pd.DataFrame(chungnam_series)

chungbuk_series = life_all.loc['충북']
chungbuk = pd.DataFrame(chungbuk_series)

### 모든 지역 데이터에 증감결과값 추가(컬럼명 'return', 전년도 대비 증가시 1, 감소시 0)

In [171]:
def local(x):
    x['return']=np.nan
    for i in range(len(x)-1):
        if x.iloc[i+1,0] / x.iloc[i,0]-1 >= 0:
            x.iloc[i+1,1] = 1
        else:
            x.iloc[i+1,1] = 0

for i in [gangwon,gyeonggi,gyeongnam,gyeongbuk,gwangju,daegu,daejeon,busan,seoul,sejong,
          woolsan,incheon,jeonnam,jeonbuk,jeju,chungnam,chungbuk]:
    local(i)

In [172]:
jeju

           제주  return
1996 년   19.9     NaN
1997 년   29.7     1.0
1998 년   14.9     0.0
1999 년   22.0     1.0
2000 년   16.2     0.0
2001 년   22.5     1.0
2002 년   24.4     1.0
2003 년   29.2     1.0
2004 년   25.4     0.0
2005 년   19.0     0.0
2006 년   39.2     1.0
2007 년   22.3     0.0
2008 년   34.5     1.0
2009 년   43.0     1.0
2010 년   32.1     0.0
2011 년   31.9     0.0
2012 년   65.1     1.0
2013 년   26.4     0.0
2014 년   41.1     1.0
2015 년   51.4     1.0
2016 년   58.6     1.0
2017 년   62.7     1.0
2018 년   47.4     0.0
2019 년   81.6     1.0
2020년   127.2     1.0
2021년   132.2     1.0

### 지역별 1996-2016 결과를 바탕으로 한 2016-2021 증감 예측의 정확성 출력

In [181]:
def ran_for(x):    
    train_data, train_label = x.iloc[:,0][1:-6], x.iloc[:,1][1:-6] # 1997~2016
    test_data, test_label = x.iloc[:,0][-6:], x.iloc[:,1][-6:] # 2016~2021
    X_train= pd.DataFrame(train_data)
    y_train= pd.DataFrame(train_label)
    X_test= pd.DataFrame(test_data)
    y_test= pd.DataFrame(test_label)

    # GridSearchCV parameter settings
    forest_parameters = [{"n_estimators" : [2,4,6,8,10],"criterion" : ["gini","entropy"],
                          "min_samples_leaf":[2,4,6,8,10],"random_state":[1]}]
    forest_grid = GridSearchCV(estimator = RandomForestClassifier(), param_grid = forest_parameters, 
                               scoring ="accuracy", cv=10, n_jobs=1)
    forest_grid_result =forest_grid.fit(X_train, y_train)
    best_forest_parameters = forest_grid_result.best_params_
    forest_score = forest_grid_result.best_score_
    print(forest_grid_result.best_params_)

    # GridSearchCV with the best hyperparameter
    Forest_model = RandomForestClassifier(n_estimators =best_forest_parameters["n_estimators"],
                                         criterion = best_forest_parameters["criterion"],
                                         min_samples_leaf =best_forest_parameters["min_samples_leaf"],
                                         random_state =1).fit(X_train, y_train)
    y_pred_best = Forest_model.predict(X_test)
    print("accuracy: {}".format(metrics.accuracy_score(y_pred_best, y_test)))
    
for i in [gangwon,gyeonggi,gyeongnam,gyeongbuk,gwangju,daegu,daejeon,busan,seoul,sejong,
          woolsan,incheon,jeonnam,jeonbuk,jeju,chungnam,chungbuk]:
    print(i.columns[0])
    ran_for(i)

강원
{'criterion': 'gini', 'min_samples_leaf': 2, 'n_estimators': 6, 'random_state': 1}
accuracy: 0.8333333333333334
경기
{'criterion': 'gini', 'min_samples_leaf': 4, 'n_estimators': 8, 'random_state': 1}
accuracy: 1.0
경남
{'criterion': 'gini', 'min_samples_leaf': 2, 'n_estimators': 6, 'random_state': 1}
accuracy: 0.8333333333333334
경북
{'criterion': 'gini', 'min_samples_leaf': 2, 'n_estimators': 10, 'random_state': 1}
accuracy: 0.8333333333333334
광주
{'criterion': 'gini', 'min_samples_leaf': 2, 'n_estimators': 2, 'random_state': 1}
accuracy: 0.5
대구
{'criterion': 'gini', 'min_samples_leaf': 2, 'n_estimators': 4, 'random_state': 1}
accuracy: 0.16666666666666666
대전
{'criterion': 'gini', 'min_samples_leaf': 4, 'n_estimators': 8, 'random_state': 1}
accuracy: 0.8333333333333334
부산
{'criterion': 'gini', 'min_samples_leaf': 2, 'n_estimators': 4, 'random_state': 1}
accuracy: 0.6666666666666666
서울
{'criterion': 'gini', 'min_samples_leaf': 6, 'n_estimators': 8, 'random_state': 1}
accuracy: 0.6666666666666666
세종
{'criterion': 'gini', 'min_samples_leaf': 2, 'n_estimators': 4, 'random_state': 1}
accuracy: 0.8333333333333334
울산
{'criterion': 'gini', 'min_samples_leaf': 2, 'n_estimators': 2, 'random_state': 1}
accuracy: 0.5
인천
{'criterion': 'gini', 'min_samples_leaf': 2, 'n_estimators': 2, 'random_state': 1}
accuracy: 0.6666666666666666
전남
{'criterion': 'gini', 'min_samples_leaf': 2, 'n_estimators': 6, 'random_state': 1}
accuracy: 0.6666666666666666
전북
{'criterion': 'gini', 'min_samples_leaf': 6, 'n_estimators': 2, 'random_state': 1}
accuracy: 0.8333333333333334
제주
{'criterion': 'gini', 'min_samples_leaf': 2, 'n_estimators': 2, 'random_state': 1}
accuracy: 0.8333333333333334
충남
{'criterion': 'gini', 'min_samples_leaf': 8, 'n_estimators': 6, 'random_state': 1}
accuracy: 0.6666666666666666
충북
{'criterion': 'gini', 'min_samples_leaf': 2, 'n_estimators': 2, 'random_state': 1}
accuracy: 0.8333333333333334